/* imports */
@font-face {
    font-family:TT;
    src: url(fonts/TTCommons-Light.woff);
  }

/* general styles */
html{
    margin: 0;
    padding:0;
    height: 100%;
}
body{
    margin: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.word{
    display: flex;
    font-family: TT;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.container{
    display: grid;
    width: 1000px;
    height: auto;
    grid-template-columns: 40% 60%;
    grid-template-rows: 300px 900px;
    grid-auto-rows: minmax(min-content, max-content);
    background-color: whitesmoke;
    border-radius: 5px;
}
.ball{
    border-radius: 100%;
    width: 5px;
    height: 5px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin: 3px 10px 0px 10px;
}


/*  Header style */
.container > header{
    grid-row: 1;
    grid-column: 1/3;
    padding: 100px 0 0 0;
    align-items: center;
}
header > img{
    width:  85px;
    height: 80px;
    border-radius: 5px;
}
header > p{
    color: gray;
    margin: 0;
}

/* main styles */
.container > main{
    display: grid;
    grid-template-columns:  5% 95%;
    padding: 0 50px 0 0;

}

/* ********** */
#conteudo > h3{
    margin: 50px 0 15px 0;
}
.n1{
    font-size: 14pt;
    margin: 0px 0px 5px 0px;
}
.n2{
    font-size: 12pt;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 5px 0px;
}
.n3{
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0px 0px 0px;
}
.new{
    margin-top: 40px;
}

/* *********** */
#icons{
    align-items: center;
}
#icons > img{
    margin: 50px 0px 20px 0px;
    width: 15px;
    height: 15px;
}
.line{
    width: 2px;
    background-color: rgba(0, 0, 0, 0.7);
}
.topic{
    width: 5px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 100%;
}
.newest{
    margin-top: 8px
}
/* aside styles */
.container > aside{
    align-items: center;
    grid-auto-rows: auto;
}
aside > p{
    margin: 2px;
}
aside > h3{
    margin: 50px 0px 5px 0px;
}
aside a{
    color: black;
}
ul{
    padding: 0;
    margin: 2px;
}
li{
    display: flex;
    justify-content: center;
}
#progressBar{
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 35%, rgba(145,145,145,1) 35%);
}